/* Universal: */

@font-face {
    font-family: ralewayBold;
    src: url(../fonts/RalewayBold.ttf);
}
@font-face {
    font-family: ralewayRegular;
    src: url(../fonts/RalewayRegular.ttf);
}

html {
    font-size: calc(100vw / 1920 * 18) !important;
}

body {
    background: #E1E9EA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Variáveis: */
:root {
    --ralewayBold: ralewayBold;
    --ralewayRegular: ralewayRegular;
    --greyColor: #707070;
    --blueColor: #234F9B;
    --textSize: 1.1rem;
}

/* Styles */

.login {
    width: 80vw;
    background: #FFF;
    border-radius: 2rem;
    padding: 0 4rem;
    box-shadow: 0px 25px 46px rgba(0, 0, 0, 0.10);
}

.login__img__col {
    border-right: .1rem solid rgba(112, 112, 112, .1);
    padding: 1rem 0;
}

.login__form__col {
    padding: 0 5rem;
    display: flex;
    align-items: center;
}

.login__title {
    font-family: var(--ralewayBold);
    color: var(--greyColor);
    font-size: 2.8rem;
}

.login__email__form {
    display: block;
    font-family: var(--ralewayRegular);
    font-size:  var(--textSize);
}

.login__email__input {
    width: 100%;
    border: none;
    border-bottom: .1rem solid var(--greyColor);
    background: transparent;
    padding-left: .4rem;
    font-family: var(--ralewayRegular);
}

.login__email__input::placeholder {
    opacity: .7;
}

.login__email__input:focus {
    outline: none;
    padding-left: .4rem;
}

.login__password__form {
    display: block;
    font-family: var(--ralewayRegular);
    font-size:  var(--textSize);
}

.login__password__input {
    width: 100%;
    border: none;
    border-bottom: .1rem solid var(--greyColor);
    background: transparent;
    padding-left: .4rem;
    font-family: var(--ralewayRegular);
}

.login__password__input::placeholder {
    opacity: .7;
}

.login__password__input:focus {
    outline: none;
    padding-left: .4rem;
}

.login__actions {
    display: flex;
    justify-content: space-between;
}

.login__actions__remember__form {
    font-family: var(--ralewayRegular);
    font-size:  var(--textSize);
}

.login__actions__remember__input {
    cursor: pointer;
}

.login__actions__forgetPass__text {
    font-family: var(--ralewayRegular);
    color: var(--greyColor);
    text-decoration: none;
    font-size:  var(--textSize);
    transition: .2s all;
}

.login__actions__forgetPass__text:hover {
    color: var(--blueColor);
}

.login__acess__btn {
    border-radius: 10rem;
    width: 8rem;
    height: 3rem;
    background: var(--blueColor);
    font-family: var(--ralewayBold);
    color: #FFF;
    border: none;
    transition: .4s;
}

.login__acess__btn:hover {
    box-shadow: inset 0 0 18px 0px rgba(0, 0, 0, 1);
}

.login__createAccount__text {
    font-family: var(--ralewayRegular);
    font-size:  var(--textSize);
}

.login__createAccount__text__link {
    text-decoration: none;
    color: var(--blueColor);
    font-family: var(--ralewayBold);
}